# ======================
# Web app configuration
# ======================

# Just sqlite3 is tested, but others could be supported too
dbType         = sqlite3

# The name of the sqlite3 file
dbUrl          = web.db

# Directory that holds the database migration SQL
migrateSqlPath = ./migrations

# Ports 
httpPort       = 8080
httpsPort      = 8443

# SSL files
certFile       = https-cert.pem
keyFile        = https-key.pem

# ===================
# Mail configuration
# ===================

# mailHost     = localhost
# mailPort     = 25
# mailUsername = 
# mailPassword = 

# An email address to be used as the "from" address in emails
# mailFrom = 

# A comma-separated list of email addresses that will receive alert emails
# mailTo = 

